@model IEnumerable<WebAppMVC3.Models.AdressBook>

@{
    ViewData["Title"] = "Edit Adress List";
}

<h1>Edit Adress List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    
        @if (Model == null || Model.Count() == 0)
        {
        <tbody>
        </tbody>
        }
        else
        {
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FIO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new {  id = item.Id , item })
                        </td>
                    </tr>
                }
        </tbody>
        }


 
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add new adress</a>
</p>
